.*.swp
/.idea
*.pkg.tar.xz
pkg/
*.tar
*.tar.bz2
*.tar.xz
*.tar.gz
*.tgz
*.txz
*.tbz
*.tbz2
*.zip
*.run
*.7z
*.rar
# We might want to allow .jars?
*.jar
*.deb
test*
!testing/
!testing/*
testing/data
testing/test.pid
testing/testserver.json
testing/vault.log
__pycache__/
logs/
docs/README.html
